@media only screen and (max-width: 1540px){
    .grid{
        header{
            .illustration_img{
                width: 35%;
            }
        }
    }
}

@media only screen and (max-width: 1315px){
    .grid{
        header{
            .callToAction_Wrapper{
                .callToAction{
                    h1{
                        font-size: 25px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
        .four_icons{
            .icon{
                p{
                    padding: 0 20px;
                }
            }
            .icon1{
                grid-column: 1/3;
                justify-self: end;
            }
            .icon2{
                grid-column: 3/5;
                justify-self: start;
            }
            .icon3{
                grid-column: 1/3;
                justify-self: end;
            }
            .icon4{
                grid-column: 3/5;
                justify-self: start;
            }
        }
        .stayProductive_Wrapper{
            .stayProductive_illustration{
                width: 85%;
                padding-right: 50px;
            }
            .stayProductive_desc{
                justify-self: end;
                h1{
                    font-size: 25px;
                }
                p{
                    font-size: 12px;
                    padding: 10px 0;
                }
            }
        }
        // .getAccess_wrapper{
        //     .getAccess{
        //         button{
        //             // font-size: 11px;
        //         }
        //     }
        // }
        footer{
            .logo{
                grid-column: 1/12;
            }
            .location{
                grid-column: 1/4;
            }
            .contact{
               grid-column: 4/7;
            }
            .links_wrapper{
                grid-column: 7/11;
                display: flex;
                justify-content: center;
            }
            .social{
                grid-column: 11/13;
            }
        }
    }
}

@media only screen and (max-width: 1080px){
    .grid{
        header{
            .callToAction_Wrapper{
                .callToAction{
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 12px;
                        padding: 15px 0;
                    }
                }
            }
            .mountains{
                bottom: -50px;
            }
        }
        .four_icons{
            margin-top: 50px;
        }
        .stayProductive_Wrapper{
            .stayProductive_illustration{
                width: 90%;
                grid-column: 1/4;
            }
            .stayProductive_desc{   
                grid-column: 4/5;
                h1{
                    // font-size: 20px;
                    padding: 0 0 10px 0;
                }
                p{
                    br{
                        display: none;
                    }
                }
            }
        }
        .testimonials_wrapper{
            grid-template-columns: repeat(9, 1fr);
            padding: 0 40px 250px 40px;
            .quotes{
                left: 20px;
                top: 20px;
            }
            .testimonial{
                margin: 0 10px;
            }
            .testimonial_1{
                grid-column: 1/4;
            }
            .testimonial_2{
                grid-column: 4/7;
            }
            .testimonial_3{
                grid-column: 7/10;
            }
        }
        .getAccess_wrapper{
            .getAccess{
                width: 60%;
                p{
                   padding: 30px 10px; 
                }
               input{
                   display: block;
                   margin: 0 auto;
                   width: 70%;
               }
               button{
                   width: 70%;
                   margin-top: 15px;
               }
            }
        }
        footer{
            height: 600px;
            .logo{
                margin: 300px 0 0 0;
            }
            .location{
                font-size: 14px;
                grid-column: 1/6;
            }
            .contact{
                grid-column: 6/9;
                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
            .links_wrapper{
                grid-column: 9/13;
                .links{
                    ul{
                        li{
                            font-size: 14px;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
            .social{
                grid-column: 1/13;
                margin: 0 auto;
            }
        }
    }
}

@media only screen and (max-width: 795px){
    .grid{
        nav{
            .logo{
                img{
                    width: 50%;
                }
            }
            ul{
                li{
                    a{
                        font-size: 13px;
                    }
                }
            }
        }
        header{
            .illustration_img{
                margin-top: 30px;
            }
            .mountains{
                bottom: -70px;
            }
        }
        .four_icons{
            margin-top: 70px;
            .icon1{
                grid-column: 1/5;
                justify-self: center;
            }
            .icon2{
                grid-column: 1/5;
                justify-self: center;
            }
            .icon3{
                grid-column: 1/5;
                justify-self: center;
            }
            .icon4{
                grid-column: 1/5;
                justify-self: center;
            }
        }
        .stayProductive_Wrapper{
            padding: 20px;
            .stayProductive_illustration{
                grid-column: 1/5;
                padding: 0;
                margin: 0 auto;
            }
            .stayProductive_desc{
                grid-column: 1/5;
                margin: 100px auto;
                h1{
                    br{
                        display: none;
                    }
                }
                p{
                    font-size: 15px;
                }
            }
        }
        .testimonials_wrapper{
            padding: 0 20px 250px 20px;
            .testimonial{
                margin: 0 0 20px 0;
            }
            .testimonial_1{
                grid-column: 1/10;
            }
            .testimonial_2{
                grid-column: 1/10;
            }
            .testimonial_3{
                grid-column: 1/10;
            }
        }
        .getAccess_wrapper{
            .getAccess{
                width: 70%;
            }
        }
        footer{
            height: 900px;
            .location{
                grid-column: 1/13;
            }
            .contact{
                grid-column: 1/13;
                ul{
                    text-align: left;
                }
            }
            .links_wrapper{
                grid-column: 1/13;
                display: block;
                .links{
                    padding-top: 30px;
                    display: flex;
                    flex-direction: column;
                    float: left;
                    ul+ul{
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .grid{
        nav{
            padding: 25px;
            ul{
                li{
                    a{
                        padding: 0 5px;
                    }
                }
            }
        }
        header{
            .illustration_img{
                width: 60%;
            }
            .mountains{
                bottom: -100px;
            }
        }
        .four_icons{
            margin-top: 100px;
        }
        .testimonials_wrapper{
            // .testimonial{
            //     margin: 
            // }
        }
        footer{
            padding: 20px;
            .logo{
                margin: 350px 0 20px 0;
            }
        }
    }
}

@media only screen and (max-width: 410px){
    .grid{
      nav{
          padding: 20px;
          .logo{
              width: 30%;
            img{
                width: 100%;
            }
          }
      }
    }
}