// Colors //

// Primary
$main_bg: hsl(218, 28%, 13%);
$header_bg: hsl(217, 28%, 15%);
$testimonials_bg: hsl(219, 30%, 18%);

// Accent
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);

// Neutral
$white: hsl(0, 0%, 100%);


// Fonts //
$main_font: 'Raleway', sans-serif;
